/Assignment_01/node_modules
/Assignment_01/package-lock.json

/Assignment_02/nbproject/
/Assignment_02/target/

/Assignment_03/nbproject/
/Assignment_03/target/
/Assignment_04/1SemesterEksamen/nbproject/private/
/Assignment_04/1SemesterEksamen/build/

/Midterm_Assignment/javaanpr/target/
/Midterm_Assignment/javaanpr/report/